@import "bootstrap";

body, html {
  -webkit-font-smoothing: antialiased;
}

.pointer {
  cursor: pointer;
}

.btn-success, .btn-primary {
  .text-muted {
    color: #fff !important;
  };
}

.outline-none {
  outline: 0 !important;
}

a {
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
  &.btn {
    text-decoration: none;
  }
}

.sidebar-items {
  &> div {
    border-right: 1px solid #e5e5e5;
    text-align: center;
    min-height: 4rem;
    max-height: 4rem;
    display: flex;
  }

  &> div:not(.apps) {
    min-width: 4rem;
    align-items: center !important;
    justify-content: center !important;
  }
}

// modal css
.modal-content{
  background: #1A2E33;
  .modal-header{
    color:#fff;
    border-bottom:1px solid rgba(255, 255, 255, 0);
    .btn-close{
      opacity: 1;
      background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAwAAAAMCAYAAABWdVznAAAAAXNSR0IArs4c6QAAAGxJREFUKFOdkkERgDAMBDc/JCADGchABnKQgSQk8DsmDGVgkk/aZy/bbNqapAmYgc3MDpIlaQQWYDdJKzAAZwZ9iu8aBxodoDRzgyx4zFzjd5A15QTyKHR9gaSTb4W5+oGSUmno8rX2PFzpa1zdkmd7nNj79AAAAABJRU5ErkJggg==') center center no-repeat;
    }
  }
  .modal-body {
    color:#fff;
    input{
      background: rgba(26, 46, 51, 0.25);
      border: 0.5px solid rgba(255, 255, 255, 0.3);
      color:#fff;
      &:focus{
        box-shadow: none;
      }
    }
  }
  .modal-footer{
    border-top:1px solid rgba(255, 255, 255, 0);
    .btn-green, .btn-success{
      background-color:#00FFD1;
      color:#101011;
    }
    .btn-cancel, .btn-secondary{
      background: rgba(26, 46, 51, 0.25);
      border: 1px solid rgba(255, 255, 255, 0.3);
      color:#fff;
    }
  }
}